# environment variables
*.env

# git
.git

# vscode configs
.vscode

# vscode extensions
.VSCodeCounter
.buildt

# node
node_modules

# TypeScript generated
/dist
/tsconfig.tsbuildinfo

# Docker Persisted Data Storage
/docker-data
/docker

# Rust Rewrite
/target
