# environment variables
*.env

# batch scripts
*.bat
*.cmd

# bash scripts
*.sh

# git stuff
.git

# vscode configs
.vscode

# vscode extensions
.VSCodeCounter

# node stuff
node_modules
npm

# bot-related sensitive stuff and runtime generated content
private
database
logging
temporary

# wildcard for any file / directory starting with '__'
__*

# Whitelisted Files
!start_all.bat
!start_bot.bat
!start_server.bat
!start_debug_console.bat
!start_all_in_wt.cmd
