################################################################
##                   Copyright (c) MidSpike                   ##
################################################################

# http://docs.mongodb.org/manual/reference/configuration-options/

################################################################

systemLog:
  quiet: true
  verbosity: 0
  destination: syslog
  logAppend: true

storage:
  dbPath: /var/lib/mongo

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

net:
  ipv6: true
  bindIpAll: true
  port: 27017

security:
  authorization: enabled
